main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: 2%;
  bottom: 2%;

  header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2a2a2f;
    color: #fff;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 30px;
    }

    #texHeaderContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      #personAdd {
        padding-right: 40px;
        mat-icon {
          font-size: 40px;
        }
      }
    }
  }

  form {
    overflow-y: auto;
    padding: 0 20px 20px 20px;
    background-color: #676161;
    font-size: 19px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    mat-label {
      color: #fff;
    }

    .cursos {
      .curso-card {
        display: inline-block;
        width: 20%;
        margin: 0% 1% 1% 5%;
        color: #000;
        background-color: #82829a;
        border-radius: 5px;
        padding: 10px;
        overflow: hidden;
        font-size: 16px;
      }

      #deletepicker {
        font-size: 5px;
        cursor: pointer;
      }
    }
  }

  #comeback,
  #saveall {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    border-color: #000;
  }

  #comeback {
    background-color: #c1822f;
  }

  #saveall {
    background-color: #5fc47a;
  }

  #addCursoButton {
    margin-left: 5%;
    background-color: rgb(141, 171, 111);
    height: 30px;
    width: 40px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    mat-icon {
      font-size: 20px;
      justify-content: center;
    }
  }

  #deltecursobutton {
    border: none;
    background: none;
  }

  .fechaNacimientoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
